<%= error_messages_for :site_image %>

<% form_for(:site_image, :url => admin_site_image_url, :html => { :method => :put, :multipart => true }) do |f| %>
  <table class="basic-table">
    <tr>
      <td><%= t("thumbnail") %>:</td>
      <td><%= link_to(image_tag(object.attachment.url(:mini)), object.attachment.url) %></td>
      <td><%= t("page_placement") %>:</td>
    </tr>
    <%= render :partial => "form", :locals => { :f => f } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    or <%= link_to t("cancel"), admin_site_images_url, :id => "cancel_link" %>
  </p>
<% end %>
